{% extends 'Employee_Register/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Employee-Form
{% endblock %}

{% block content %}
<form action='' method='POST' autocomplete="off">
    {% csrf_token %}
    {{form.fullname|as_crispy_field}}
    {{form.mobile|as_crispy_field}}
    <div class = 'row'>
        <div class='col-md-4'>
            {{form.emp_code|as_crispy_field}}
        </div>
       <div class='col-md-8'>
            {{form.position|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class='col-md-8'>
            <input type="submit" value="Submit" class="btn btn-outline-success my-2 my-sm-0">
        </div>
        <div class='col-md-4'>
            <a href="{% url 'employee_list' %}" class="btn btn-outline-dark my-2 my-sm-0">
                Back to list
            </a>
        </div>
    </div>
</form>
{% endblock %}
